@font-face {
    font-family: 'w95fa';
    src: url('w95fa.woff') format('woff');
    src:url('w95fa.woff2') format('woff2');
}

#links {
    
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'win95fa';
   
}
head{
    font-family: 'win95fa';
    color: white;
    font-size: x-large;
}
h1{
    color: white;
    text-decoration: underline;
    text-align: center;
    font-family: 'win95fa';
    
    }
    p {
        color: white;
        text-align: center;
font-family: 'w95fa';
    }
    img {
        display: block;
        width: 30%;
        margin: auto;
      }
      body {
        margin: 0;
        padding: 0;
        background-color: rgb(7, 48, 48);
    border-image-width: 300px;
    font-family: 'win95fa';
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        max-width: 1200px;
        margin: auto;
    }
    
    .column {
        background-color: rgb(7, 48, 48);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        flex: 1;
        margin: 0 10px;
    }
    
    .left {
      text-align: center;
    }
    
    .right {
        
        padding-left: 25%;
        padding-right: 25%;
    }
    

    