h1{
    color: blue;
    text-decoration: underline;
    }
    p {
        color: rebeccapurple;
        text-align: center;
    }
    body {
    background-color: darkcyan;
    border-image-width: 10%;
    }

    