h1{
    color: blue;
    text-decoration: underline;
    }
    p {
        color: rebeccapurple;
        text-align: center;
    }
    body {
    background-color: darkcyan;
    }
    img {
        align-self: center;
    }
    